# Importing Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.cluster import KMeans
import pylab as pl

In [2]:
# Display graphs in notebook

%matplotlib inline

In [3]:
# Create path

path = r'/Users/david/Desktop/CF/Data Immersion/Achievement 6 - Advnaced Analytics & Dashboard Design'

In [4]:
path

'/Users/david/Desktop/CF/Data Immersion/Achievement 6 - Advnaced Analytics & Dashboard Design'

In [5]:
# Import 'bnb_cdmx_080922.pkl' pickle as 'bnb_MC' dataframe

bnb_MC = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '09_Sep_2022', 'bnb_cdmx_080922.pkl'))

In [6]:
bnb_MC.head()

,listing_id,listing_url,host_id,host_url,host_name,host_since,acceptance_rate,superhost,host_listings_count,host_identity_verified,...,revs_num,first_rev,last_rev,review_scores_rating,reviews_per_month,bookings_num,host_loc,host_nh,nh,nh_cleansed
0,15511977,https://www.airbnb.com/rooms/15511977,93364273,https://www.airbnb.com/users/show/93364273,Abraham,2016-09-03,NaN,f,2,f,...,1,2018-03-19,2018-03-19,5.00,0.02,365,"Mexico City, Mexico City, Mexico",NaN,"Naucalpan de Juárez, Méx., Mexico",Miguel Hidalgo
1,44616,https://www.airbnb.com/rooms/44616,196253,https://www.airbnb.com/users/show/196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,66,f,9,t,...,56,2011-11-09,2022-06-05,4.59,0.43,365,"Mexico City, Distrito Federal, Mexico",Condesa,NaN,Cuauhtémoc
2,34776449,https://www.airbnb.com/rooms/34776449,2954577,https://www.airbnb.com/users/show/2954577,Lazaro Alejandro,2012-07-16,100,t,3,t,...,5,2019-07-04,2022-03-14,5.00,0.14,365,"Mexico City, Mexico City, Mexico",NaN,"Mexico City, Mexico",Miguel Hidalgo
3,56074,https://www.airbnb.com/rooms/56074,265650,https://www.airbnb.com/users/show/265650,Maris,2010-10-19,90,t,2,t,...,72,2011-04-02,2022-06-19,4.88,0.53,365,"Mexico City, Mexico City, Mexico",San Rafael,"Mexico City, DF, Mexico",Cuauhtémoc
4,58955,https://www.airbnb.com/rooms/58955,282620,https://www.airbnb.com/users/show/282620,Laura,2010-11-09,29,f,1,t,...,45,2011-12-26,2022-01-06,5.00,0.35,365,"Mexico, MX",Roma Norte,"Mexico City, Federal District, Mexico",Cuauhtémoc

# Cleaning 'bnb_MC' dataframe

In [7]:
# List 'bnb_MC' columns

list(bnb_MC.columns)

['listing_id',
 'listing_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'acceptance_rate',
 'superhost',
 'host_listings_count',
 'host_identity_verified',
 'latitude',
 'longitude',
 'room_type',
 'accommodates',
 'bedrooms',
 'price',
 'min_nights',
 'max_nights',
 'has_availability',
 'availability_365',
 'revs_num',
 'first_rev',
 'last_rev',
 'review_scores_rating',
 'reviews_per_month',
 'bookings_num',
 'host_loc',
 'host_nh',
 'nh',
 'nh_cleansed']

In [8]:
# Drop columns

bnb_MC = bnb_MC.drop(columns = ['listing_url', 'host_url', 'host_listings_count', 'has_availability', 'max_nights'])

In [9]:
list(bnb_MC.columns)

['listing_id',
 'host_id',
 'host_name',
 'host_since',
 'acceptance_rate',
 'superhost',
 'host_identity_verified',
 'latitude',
 'longitude',
 'room_type',
 'accommodates',
 'bedrooms',
 'price',
 'min_nights',
 'availability_365',
 'revs_num',
 'first_rev',
 'last_rev',
 'review_scores_rating',
 'reviews_per_month',
 'bookings_num',
 'host_loc',
 'host_nh',
 'nh',
 'nh_cleansed']

In [10]:
# Missing values

bnb_MC.isnull().sum()

listing_id                   0
host_id                      0
host_name                    0
host_since                   0
acceptance_rate           1100
superhost                    0
host_identity_verified       0
latitude                     0
longitude                    0
room_type                    0
accommodates                 0
bedrooms                   450
price                        0
min_nights                   0
availability_365             0
revs_num                     0
first_rev                    0
last_rev                     0
review_scores_rating         0
reviews_per_month            0
bookings_num                 0
host_loc                    24
host_nh                   8395
nh                        5359
nh_cleansed                  0
dtype: int64

In [11]:
bnb_MC = bnb_MC.drop(columns = ['host_loc', 'nh'])

In [12]:
# Missing values

bnb_MC.isnull().sum()

listing_id                   0
host_id                      0
host_name                    0
host_since                   0
acceptance_rate           1100
superhost                    0
host_identity_verified       0
latitude                     0
longitude                    0
room_type                    0
accommodates                 0
bedrooms                   450
price                        0
min_nights                   0
availability_365             0
revs_num                     0
first_rev                    0
last_rev                     0
review_scores_rating         0
reviews_per_month            0
bookings_num                 0
host_nh                   8395
nh_cleansed                  0
dtype: int64

#### 'acceptance_rate' and 'bedrooms' missing values will be replaced with the (varaibale's) means.

In [13]:
bnb_MC['acceptance_rate'].fillna(91, inplace = True)

bnb_MC['bedrooms'].fillna(91, inplace = True)

In [14]:
bnb_MC.isnull().sum()

listing_id                   0
host_id                      0
host_name                    0
host_since                   0
acceptance_rate              0
superhost                    0
host_identity_verified       0
latitude                     0
longitude                    0
room_type                    0
accommodates                 0
bedrooms                     0
price                        0
min_nights                   0
availability_365             0
revs_num                     0
first_rev                    0
last_rev                     0
review_scores_rating         0
reviews_per_month            0
bookings_num                 0
host_nh                   8395
nh_cleansed                  0
dtype: int64

# 03 Deriving New Variables & Changing Data Types

In [15]:
# Verify data types of variabels to subset numerical variables only

bnb_MC.dtypes

listing_id                  int64
host_id                     int64
host_name                  object
host_since                 object
acceptance_rate            object
superhost                  object
host_identity_verified     object
latitude                  float64
longitude                 float64
room_type                  object
accommodates                int64
bedrooms                    Int64
price                       int64
min_nights                  int64
availability_365            int64
revs_num                    int64
first_rev                  object
last_rev                   object
review_scores_rating      float64
reviews_per_month         float64
bookings_num                int64
host_nh                    object
nh_cleansed                object
dtype: object

In [16]:
# Change data types of 'acceptance_rate'

bnb_MC['acceptance_rate'] = bnb_MC['acceptance_rate'].astype('int64')

In [17]:
# verify changes in data types

bnb_MC.dtypes

listing_id                  int64
host_id                     int64
host_name                  object
host_since                 object
acceptance_rate             int64
superhost                  object
host_identity_verified     object
latitude                  float64
longitude                 float64
room_type                  object
accommodates                int64
bedrooms                    Int64
price                       int64
min_nights                  int64
availability_365            int64
revs_num                    int64
first_rev                  object
last_rev                   object
review_scores_rating      float64
reviews_per_month         float64
bookings_num                int64
host_nh                    object
nh_cleansed                object
dtype: object

In [18]:
# The 'room_type' variable will be included in here in the form of numbers so the algorithm 
# can analyze it as well

# Check for 'room_type' unique values

list(bnb_MC.room_type.unique())

['Private room', 'Entire home/apt', 'Hotel room', 'Shared room']

In [19]:
# Categorize romm types as follows:
# 1 = 'Private room'
# 2 = 'Entire home/apt'
# 3 = 'Hotel room'
# 4 = 'Shared room'

bnb_MC.loc[bnb_MC['room_type'] == 'Private room', 'room_type_code'] = '1'
bnb_MC.loc[bnb_MC['room_type'] == 'Entire home/apt', 'room_type_code'] = '2'
bnb_MC.loc[bnb_MC['room_type'] == 'Hotel room', 'room_type_code'] = '3'
bnb_MC.loc[bnb_MC['room_type'] == 'Shared room', 'room_type_code'] = '4'

In [20]:
# Verify new variable

bnb_MC.head(5)

,listing_id,host_id,host_name,host_since,acceptance_rate,superhost,host_identity_verified,latitude,longitude,room_type,...,availability_365,revs_num,first_rev,last_rev,review_scores_rating,reviews_per_month,bookings_num,host_nh,nh_cleansed,room_type_code
0,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,179,1,2018-03-19,2018-03-19,5.00,0.02,365,NaN,Miguel Hidalgo,1
1,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,66,f,t,19.41162,-99.17794,Entire home/apt,...,347,56,2011-11-09,2022-06-05,4.59,0.43,365,Condesa,Cuauhtémoc,2
2,34776449,2954577,Lazaro Alejandro,2012-07-16,100,t,t,19.42641,-99.22591,Private room,...,222,5,2019-07-04,2022-03-14,5.00,0.14,365,NaN,Miguel Hidalgo,1
3,56074,265650,Maris,2010-10-19,90,t,t,19.43977,-99.15605,Entire home/apt,...,344,72,2011-04-02,2022-06-19,4.88,0.53,365,San Rafael,Cuauhtémoc,2
4,58955,282620,Laura,2010-11-09,29,f,t,19.42113,-99.15955,Entire home/apt,...,47,45,2011-12-26,2022-01-06,5.00,0.35,365,Roma Norte,Cuauhtémoc,2

In [21]:
bnb_MC['room_type_code'].value_counts()

2    11490
1     5863
4      180
3      146
Name: room_type_code, dtype: int64

In [22]:
# The 'nh_cleansed' variable will be derived in form of codesso the algorithm can analyze it too

list(bnb_MC.nh_cleansed.unique())

['Miguel Hidalgo',
 'Cuauhtémoc',
 'Coyoacán',
 'Benito Juárez',
 'Cuajimalpa de Morelos',
 'Venustiano Carranza',
 'Álvaro Obregón',
 'Iztapalapa',
 'Tlalpan',
 'La Magdalena Contreras',
 'Gustavo A. Madero',
 'Xochimilco',
 'Iztacalco',
 'Azcapotzalco',
 'Tláhuac',
 'Milpa Alta']

In [23]:
list(bnb_MC.host_nh.unique())

[nan,
 'Condesa',
 'San Rafael',
 'Roma Norte',
 'Hipódromo',
 'Guerrero',
 'Coyoacán',
 'Colonia Cuauhtémoc',
 'Polanco',
 'San Miguel Chapultepec',
 'Nápoles',
 'Juárez',
 'Santa María La Ribera',
 'Escandón',
 'Centro Histórico',
 'Tabacalera',
 'Vertiz Narvarte',
 'Acacias/Actipan',
 'San Pedro De Los Pinos',
 'Anzures',
 'Zona Rosa',
 'San Simon Ticumac',
 'Del Valle',
 'San Francisco Tlaltenco',
 'Tlacoquemecatl',
 'Narvarte',
 'Roma Sur',
 'Nonoalco',
 'San Juan',
 'Portales',
 'San Diego Churubusco/Country Club',
 'Colonia Centro',
 'Pedro María Anaya',
 'Santa Fe',
 'Florida/Axotla',
 'Coapa',
 'Campestre/Guadalupe Inn',
 'Chapultepec Morales',
 'Letrán Valle',
 'Centro Histórico de la Ciudad de México',
 'código 2',
 'Insurgentes',
 'Ciudad de Los Deportes',
 'Santa Cruz Atoyac',
 'Tlateloco',
 'Flatbush',
 'Fraccionamento Costa Azul',
 'Tizapán San Ángel',
 'Doctores',
 'Colonia Renacimiento',
 'Lomas de Sotelo',
 'Bringamosa',
 'Buenavista',
 'Niños Heroes de Chapultepec',
 'Independencia Batan Norte',
 'Tulum Centro',
 'Asturias',
 'Peralvillo',
 'Alamos',
 'Americas Unidos/Del Lago',
 'Xoco',
 'Zona Centro',
 'Obrera',
 'Zona Lunes Feb 09',
 'La Asunción',
 'Tránsito',
 'Burke Mountain',
 'Supermanzana 310',
 'Junius Heights',
 'Mount Park',
 '35C',
 'Ampliación Daniel Garza',
 'West Los Angeles',
 'Casco Antiguo',
 'Independencia',
 'Morelos',
 'Calica',
 'Lower Greenville',
 'San Francisco Culhuacan',
 'CTM Culhuacan',
 'Vistas del Maurel',
 'Playa Diamante',
 'Coyoac',
 'Carola',
 'Santa María la Ribera',
 'Downtown Oakland',
 'La Rosita',
 'Punta Diamante',
 'San Simon Tolnahuac',
 'San Bartolo Ameyalco',
 'Historic center of Mexico City',
 'White River Junction',
 'Postal',
 'Bahía',
 'La Lonja',
 '35B',
 'Atlampa',
 'Popo Park',
 'Kennedy',
 'Los Naranjos',
 'Aluche',
 'Recoleta',
 'La Romita',
 'La Chapelle',
 '10 de Abril',
 'Kukulcan Boulevard',
 'Cuauhtémoc',
 'Media Luna',
 'RUTA INDEPENDENCIA',
 'Los Reyes',
 'Zona Hotelera Tulum',
 'Marina',
 'El Toro',
 'North Hollywood',
 'Flamingos',
 'Suchil 109',
 'La Pinzona',
 'Lomas - Virreyes',
 'Colonia Olivar del Conde',
 'Residencial Deportiva',
 'Desarrollo Urbano Quetzalcoatl',
 'Paulino Navarro/Vista Alegre',
 'Harlem',
 'Anáhuac I Sección',
 'El Pueblito del Revolcadero',
 'Emiliano Zapata',
 'San Jerónimo Lídice',
 'Santeagueda',
 'Heroes de Padierna',
 'Temozon Norte',
 'Tepito',
 'Telchac puerto',
 'Lomas Quebradas',
 'Fraccionamiento Nura',
 'San Nicolás Totolapan',
 'Lomas de Angelópolis',
 'La Merced',
 'Infonavit Las Colinas',
 'La Magdalena',
 'capilla ecumenica',
 'Santa Teresa',
 'South San Francisco',
 'San José del Olivar',
 'De Las Americas',
 'São Paulo',
 'North Burnet',
 'Hollywood South Central Beach',
 'University City',
 'Rancho Altamira',
 'Fraccionamiento Real Santa Fe',
 'Villa Milpa Alta',
 'Tourist Corridor',
 'El Medano Ejidal',
 'Rincón del Bosque',
 'Minor',
 'Playa Blanca',
 'Tilzapotla',
 'Territorio Torres',
 "Place d'Italie - Quartier Chinois",
 "La Nova Esquerra de l'Eixample",
 'Northstar Resort',
 'Maria Cristina',
 'DM Nacional',
 'Ex Hacienda Mayorazgo',
 'Corina 117',
 'Hacienda de Guadalupe Chimalistac',
 'Las Colinas',
 'Córdoba',
 'Playas',
 'Downtown Miami',
 'El Arco San Gaspar',
 'Palermo Hollywood',
 'Elysian Valley',
 'Fundadores de Hacienda Grande',
 'Lomas de Santa Fe',
 'Colonia del Valle Sur',
 'Colonia Nogales',
 'Ampliación Lomas de San Bernabé',
 'Ejidos de San Pedro Martir',
 'Parque de la Mejorada',
 'South Los Angeles',
 'Rincón del Chico',
 'Old City',
 'East Village',
 'Coyoacán TNT',
 'Wailuku',
 'Zona Romántica',
 'Colinas del Bosque',
 'Colonia Parajes',
 'Santin',
 'Lomas Virreyes',
 'Cruz Manca',
 'Unidad Habitacional',
 'West Point Grey',
 'San Bernabé Ocotepec',
 'Sin Nombre Loc. San Blas',
 'Marbella',
 'Real Solare',
 'Alfredo V Bonfil',
 'Palermo Chico',
 'Villas Terrasol',
 'Zona Hotelera',
 'Guadalupe Insurgentes',
 'San Gil',
 'West End',
 'Prados de Cuautepec',
 'Sector Popular',
 'Para Empleados Federales',
 'Colonia Mexico',
 'Interlomas',
 'Ampliación Vista Hermosa',
 'Lomas de',
 'Back of the Yards']

In [24]:
bnb_MC.shape

(17679, 24)

In [25]:
# Categorize teh neighbourhoods as follows:
# 'Miguel Hidalgo' = 1
# 'Cuauhtémoc' = 2
# 'Coyoacán' = 3
# 'Benito Juárez' = 4
# 'Cuajimalpa de Morelos' = 5
# 'Venustiano Carranza' = 6
# 'Álvaro Obregón' = 7
# 'Iztapalapa' = 8
# 'Tlalpan' = 9
# 'La Magdalena Contreras' = 10
# 'Gustavo A. Madero' = 11
# 'Xochimilco' = 12
# 'Iztacalco' = 13
# 'Azcapotzalco' = 14
# 'Tláhuac' = 15
# 'Milpa Alta' = 16

bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Miguel Hidalgo', 'nh_code'] = '1'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Cuauhtémoc', 'nh_code'] = '2'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Coyoacán', 'nh_code'] = '3'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Benito Juárez', 'nh_code'] = '4'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Cuajimalpa de Morelos', 'nh_code'] = '5'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Venustiano Carranza', 'nh_code'] = '6'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Álvaro Obregón', 'nh_code'] = '7'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Iztapalapa', 'nh_code'] = '8'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Tlalpan', 'nh_code'] = '9'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'La Magdalena Contreras', 'nh_code'] = '10'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Gustavo A. Madero', 'nh_code'] = '11'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Xochimilco', 'nh_code'] = '12'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Iztacalco', 'nh_code'] = '13'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Azcapotzalco', 'nh_code'] = '14'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Tláhuac', 'nh_code'] = '15'
bnb_MC.loc[bnb_MC['nh_cleansed'] == 'Milpa Alta', 'nh_code'] = '16'

In [26]:
bnb_MC.head()

,listing_id,host_id,host_name,host_since,acceptance_rate,superhost,host_identity_verified,latitude,longitude,room_type,...,revs_num,first_rev,last_rev,review_scores_rating,reviews_per_month,bookings_num,host_nh,nh_cleansed,room_type_code,nh_code
0,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,1,2018-03-19,2018-03-19,5.00,0.02,365,NaN,Miguel Hidalgo,1,1
1,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,66,f,t,19.41162,-99.17794,Entire home/apt,...,56,2011-11-09,2022-06-05,4.59,0.43,365,Condesa,Cuauhtémoc,2,2
2,34776449,2954577,Lazaro Alejandro,2012-07-16,100,t,t,19.42641,-99.22591,Private room,...,5,2019-07-04,2022-03-14,5.00,0.14,365,NaN,Miguel Hidalgo,1,1
3,56074,265650,Maris,2010-10-19,90,t,t,19.43977,-99.15605,Entire home/apt,...,72,2011-04-02,2022-06-19,4.88,0.53,365,San Rafael,Cuauhtémoc,2,2
4,58955,282620,Laura,2010-11-09,29,f,t,19.42113,-99.15955,Entire home/apt,...,45,2011-12-26,2022-01-06,5.00,0.35,365,Roma Norte,Cuauhtémoc,2,2

In [27]:
bnb_MC['nh_code'].value_counts()

2     7544
1     3037
4     2395
3     1245
7      724
9      570
5      520
6      455
11     299
14     268
13     220
8      186
10      95
12      89
15      22
16      10
Name: nh_code, dtype: int64

In [28]:
list(bnb_MC.nh_code.unique())

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16']

In [29]:
# Consistency Check for new variables

bnb_MC.isnull().sum()

listing_id                   0
host_id                      0
host_name                    0
host_since                   0
acceptance_rate              0
superhost                    0
host_identity_verified       0
latitude                     0
longitude                    0
room_type                    0
accommodates                 0
bedrooms                     0
price                        0
min_nights                   0
availability_365             0
revs_num                     0
first_rev                    0
last_rev                     0
review_scores_rating         0
reviews_per_month            0
bookings_num                 0
host_nh                   8395
nh_cleansed                  0
room_type_code               0
nh_code                      0
dtype: int64

In [30]:
# Verify changes in data types

bnb_MC.dtypes

listing_id                  int64
host_id                     int64
host_name                  object
host_since                 object
acceptance_rate             int64
superhost                  object
host_identity_verified     object
latitude                  float64
longitude                 float64
room_type                  object
accommodates                int64
bedrooms                    Int64
price                       int64
min_nights                  int64
availability_365            int64
revs_num                    int64
first_rev                  object
last_rev                   object
review_scores_rating      float64
reviews_per_month         float64
bookings_num                int64
host_nh                    object
nh_cleansed                object
room_type_code             object
nh_code                    object
dtype: object

In [31]:
# Change data typ[es of 'room_type_code'

bnb_MC['room_type_code'] = bnb_MC['room_type_code'].astype('Int64')
bnb_MC['nh_code'] = bnb_MC['nh_code'].astype('Int64')

In [32]:
# Verify changes in data types

bnb_MC.dtypes

listing_id                  int64
host_id                     int64
host_name                  object
host_since                 object
acceptance_rate             int64
superhost                  object
host_identity_verified     object
latitude                  float64
longitude                 float64
room_type                  object
accommodates                int64
bedrooms                    Int64
price                       int64
min_nights                  int64
availability_365            int64
revs_num                    int64
first_rev                  object
last_rev                   object
review_scores_rating      float64
reviews_per_month         float64
bookings_num                int64
host_nh                    object
nh_cleansed                object
room_type_code              Int64
nh_code                     Int64
dtype: object

In [33]:
bnb_MC.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'bnb_MC_250922.csv'))

In [34]:
bnb_MC.shape

(17679, 25)

In [35]:
bnb_MC.head()

,listing_id,host_id,host_name,host_since,acceptance_rate,superhost,host_identity_verified,latitude,longitude,room_type,...,revs_num,first_rev,last_rev,review_scores_rating,reviews_per_month,bookings_num,host_nh,nh_cleansed,room_type_code,nh_code
0,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,1,2018-03-19,2018-03-19,5.00,0.02,365,NaN,Miguel Hidalgo,1,1
1,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,66,f,t,19.41162,-99.17794,Entire home/apt,...,56,2011-11-09,2022-06-05,4.59,0.43,365,Condesa,Cuauhtémoc,2,2
2,34776449,2954577,Lazaro Alejandro,2012-07-16,100,t,t,19.42641,-99.22591,Private room,...,5,2019-07-04,2022-03-14,5.00,0.14,365,NaN,Miguel Hidalgo,1,1
3,56074,265650,Maris,2010-10-19,90,t,t,19.43977,-99.15605,Entire home/apt,...,72,2011-04-02,2022-06-19,4.88,0.53,365,San Rafael,Cuauhtémoc,2,2
4,58955,282620,Laura,2010-11-09,29,f,t,19.42113,-99.15955,Entire home/apt,...,45,2011-12-26,2022-01-06,5.00,0.35,365,Roma Norte,Cuauhtémoc,2,2

In [36]:
# Merge bnb_cal with bnb_MC
# extract bnb_cal

bnb_cal = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '02_Sep_2022', 'bnbcal_020922'))

In [37]:
bnb_cal.head()

   listing_id booking_date
0    52390579   2022-06-21
1    52390579   2022-06-22
2    52390579   2022-06-23
3    52390579   2022-06-24
4    52390579   2022-06-25

In [38]:
bnb_2 = bnb_MC.merge(bnb_cal, on = 'listing_id', how = 'inner')

In [39]:
bnb_2.head()

,listing_id,host_id,host_name,host_since,acceptance_rate,superhost,host_identity_verified,latitude,longitude,room_type,...,first_rev,last_rev,review_scores_rating,reviews_per_month,bookings_num,host_nh,nh_cleansed,room_type_code,nh_code,booking_date
0,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,2018-03-19,2018-03-19,5.0,0.02,365,NaN,Miguel Hidalgo,1,1,2022-06-21
1,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,2018-03-19,2018-03-19,5.0,0.02,365,NaN,Miguel Hidalgo,1,1,2022-06-22
2,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,2018-03-19,2018-03-19,5.0,0.02,365,NaN,Miguel Hidalgo,1,1,2022-06-23
3,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,2018-03-19,2018-03-19,5.0,0.02,365,NaN,Miguel Hidalgo,1,1,2022-06-24
4,15511977,93364273,Abraham,2016-09-03,91,f,f,19.41095,-99.24418,Private room,...,2018-03-19,2018-03-19,5.0,0.02,365,NaN,Miguel Hidalgo,1,1,2022-06-25

In [40]:
bnb_2.shape

(6452836, 26)

In [41]:
bnb_4 = bnb_2.groupby('listing_id')['booking_date'].sum()

In [42]:
bnb_4.head()

listing_id
44616    2022-06-222022-06-232022-06-242022-06-252022-0...
56074    2022-06-212022-06-222022-06-232022-06-242022-0...
58955    2022-06-222022-06-232022-06-242022-06-252022-0...
61792    2022-06-222022-06-232022-06-242022-06-252022-0...
67703    2022-06-222022-06-232022-06-242022-06-252022-0...
Name: booking_date, dtype: object

# Importing & Cleaning (separate) Data Sets for Tableau as Dataframes

## listings.csv data set as bnblist dataframe

In [43]:
# Importing "listings.csv"

bnblist = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'))

In [44]:
bnblist.shape

(21669, 74)

In [45]:
bnblist.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,52390579,https://www.airbnb.com/rooms/52390579,20220621060651,2022-06-21,"Casa en privada con vigilancia, estacionamiento.",Relájate en este alojamiento donde la tranquil...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,424060909,https://www.airbnb.com/users/show/424060909,...,NaN,NaN,NaN,NaN,t,1,0,1,0,NaN
1,35797,https://www.airbnb.com/rooms/35797,20220621060651,2022-06-21,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,https://www.airbnb.com/users/show/153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2,15511977,https://www.airbnb.com/rooms/15511977,20220621060651,2022-06-21,La casa de Abraham,"Hermosa habitación amplia ,con baño con Tina ,...","Zona residencial privilegiada, muy cercana a P...",https://a0.muscache.com/pictures/505bfcbb-2532...,93364273,https://www.airbnb.com/users/show/93364273,...,5.00,5.00,5.00,NaN,t,1,0,1,0,0.02
3,44616,https://www.airbnb.com/rooms/44616,20220621060651,2022-06-22,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,https://www.airbnb.com/users/show/196253,...,4.75,4.98,4.47,NaN,f,11,2,2,0,0.43
4,34776449,https://www.airbnb.com/rooms/34776449,20220621060651,2022-06-21,★ The attic ★ Panoramic garden 10 min CitiBanamex,Relax in our modern penthouse and soak in brea...,This is a great neighborhood known to be one o...,https://a0.muscache.com/pictures/fba2ef8b-e91a...,2954577,https://www.airbnb.com/users/show/2954577,...,5.00,5.00,4.80,NaN,t,4,1,3,0,0.14

In [46]:
list(bnblist.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [47]:
# Drop columns 

bnblist = bnblist.drop(columns = ['listing_url',
                                 'scrape_id',
                                 'last_scraped',
                                 'name',
                                 'description',
                                 'neighborhood_overview',
                                 'picture_url',
                                 'host_url',
                                 'host_about',
                                 'host_response_time',
                                 'host_thumbnail_url',
                                 'host_picture_url',
                                 'host_listings_count',
                                 'host_verifications',
                                 'host_has_profile_pic',
                                 'bathrooms',
                                 'bathrooms_text',
                                 'beds',
                                 'amenities',
                                 'maximum_nights',
                                 'minimum_minimum_nights',
                                 'maximum_minimum_nights',
                                 'minimum_maximum_nights',
                                 'maximum_maximum_nights',
                                 'minimum_nights_avg_ntm',
                                 'maximum_nights_avg_ntm',
                                 'has_availability',
                                 'availability_30',
                                  'availability_60',
                                  'availability_90',
                                 'calendar_last_scraped',
                                 'number_of_reviews_ltm',
                                 'number_of_reviews_l30d',
                                 'review_scores_accuracy',
                                 'license',
                                 'instant_bookable',
                                 'calculated_host_listings_count',
                                 ])

In [48]:
bnblist.head()

,id,host_id,host_name,host_since,host_location,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_total_listings_count,...,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,52390579,424060909,Maria Carmen Marta,2021-09-21,MX,NaN,NaN,f,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,NaN
1,35797,153786,Dici,2010-06-28,"Mexico City, Mexico City, Mexico",NaN,NaN,f,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN
2,15511977,93364273,Abraham,2016-09-03,"Mexico City, Mexico City, Mexico",0%,NaN,f,NaN,2,...,5.00,5.00,5.00,5.00,5.00,5.00,0,1,0,0.02
3,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,"Mexico City, Distrito Federal, Mexico",100%,66%,f,Condesa,9,...,4.59,4.69,4.85,4.75,4.98,4.47,2,2,0,0.43
4,34776449,2954577,Lazaro Alejandro,2012-07-16,"Mexico City, Mexico City, Mexico",100%,100%,t,NaN,3,...,5.00,4.80,5.00,5.00,5.00,4.80,1,3,0,0.14

In [49]:
bnblist.shape

(21669, 37)

In [50]:
bnblist.isnull().sum()

id                                                  0
host_id                                             0
host_name                                           0
host_since                                          0
host_location                                      46
host_response_rate                               2933
host_acceptance_rate                             2567
host_is_superhost                                   0
host_neighbourhood                              10958
host_total_listings_count                           0
host_identity_verified                              0
neighbourhood                                    7747
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                    21669
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bedrooms                                          669
price                                               0
minimum_nights                                      0
calendar_updated                                21669
availability_365                                    0
number_of_reviews                                   0
first_review                                     3990
last_review                                      3990
review_scores_rating                             3990
review_scores_cleanliness                        4090
review_scores_checkin                            4091
review_scores_communication                      4090
review_scores_location                           4092
review_scores_value                              4091
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                3990
dtype: int64

In [51]:
# After review, it was decided to drop the following variables too

bnblist = bnblist.drop(columns = ['calendar_updated',
                                  'first_review',
                                  'last_review',
                                  'calculated_host_listings_count_entire_homes',
                                  'calculated_host_listings_count_private_rooms',
                                  'calculated_host_listings_count_shared_rooms'])

In [52]:
bnblist = bnblist.drop(columns = ['host_response_rate'])

In [53]:
bnblist = bnblist.drop(columns = ['host_location'])

In [54]:
bnblist = bnblist.drop(columns = ['host_neighbourhood'])

In [55]:

bnblist = bnblist.drop(columns = ['host_acceptance_rate'])

In [56]:
bnblist = bnblist.drop(columns = ['neighbourhood_group_cleansed'])

In [57]:
bnblist.isnull().sum()

id                                0
host_id                           0
host_name                         0
host_since                        0
host_is_superhost                 0
host_total_listings_count         0
host_identity_verified            0
neighbourhood                  7747
neighbourhood_cleansed            0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bedrooms                        669
price                             0
minimum_nights                    0
availability_365                  0
number_of_reviews                 0
review_scores_rating           3990
review_scores_cleanliness      4090
review_scores_checkin          4091
review_scores_communication    4090
review_scores_location         4092
review_scores_value            4091
reviews_per_month              3990
dtype: int64

In [58]:
# renaming variables 

bnblist = bnblist.rename(columns = {'id' : 'listing_id',
                                   'host_acceptance_rate' :'acceptance_rate',
                                   'host_is_superhost' : 'superhost',
                                   'host_total_listings_count' : 'listings_count',
                                   'host_identity_verified' : 'identity_verified',
                                   'neighbourhood' : 'nh',
                                   'neighbourhood_cleansed' :'nh_cleansed',
                                   'minimun_nights' : 'min_nights',
                                   'review_scores_rating' : 'rev_sc_rtg',
                                   'review_scores_cleanliness' : 'rev_sc_cln',
                                   'review_scores_checkin' : 'rev_sc_chin',
                                   'review_scores_communication' : 'rev_sc_comm',
                                   'review_scores_location' : 'rev_sc_loc',
                                   'review_scores_value' : 'rev_sc_val',
                                   'reviews_per_month' : 'revs_month'})

In [59]:
list(bnblist.columns)

['listing_id',
 'host_id',
 'host_name',
 'host_since',
 'superhost',
 'listings_count',
 'identity_verified',
 'nh',
 'nh_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bedrooms',
 'price',
 'minimum_nights',
 'availability_365',
 'number_of_reviews',
 'rev_sc_rtg',
 'rev_sc_cln',
 'rev_sc_chin',
 'rev_sc_comm',
 'rev_sc_loc',
 'rev_sc_val',
 'revs_month']

In [60]:
bnblist.head()

,listing_id,host_id,host_name,host_since,superhost,listings_count,identity_verified,nh,nh_cleansed,latitude,...,minimum_nights,availability_365,number_of_reviews,rev_sc_rtg,rev_sc_cln,rev_sc_chin,rev_sc_comm,rev_sc_loc,rev_sc_val,revs_month
0,52390579,424060909,Maria Carmen Marta,2021-09-21,f,2,t,NaN,Cuajimalpa de Morelos,19.395126,...,1,365,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35797,153786,Dici,2010-06-28,f,2,t,"Mexico City, D.f., Mexico",Cuajimalpa de Morelos,19.382830,...,1,363,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15511977,93364273,Abraham,2016-09-03,f,2,f,"Naucalpan de Juárez, Méx., Mexico",Miguel Hidalgo,19.410950,...,1,179,1,5.00,5.00,5.00,5.00,5.00,5.00,0.02
3,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,f,9,t,NaN,Cuauhtémoc,19.411620,...,1,347,56,4.59,4.69,4.85,4.75,4.98,4.47,0.43
4,34776449,2954577,Lazaro Alejandro,2012-07-16,t,3,t,"Mexico City, Mexico",Miguel Hidalgo,19.426410,...,1,222,5,5.00,4.80,5.00,5.00,5.00,4.80,0.14

In [61]:
bnblist.isnull().sum()

listing_id              0
host_id                 0
host_name               0
host_since              0
superhost               0
listings_count          0
identity_verified       0
nh                   7747
nh_cleansed             0
latitude                0
longitude               0
property_type           0
room_type               0
accommodates            0
bedrooms              669
price                   0
minimum_nights          0
availability_365        0
number_of_reviews       0
rev_sc_rtg           3990
rev_sc_cln           4090
rev_sc_chin          4091
rev_sc_comm          4090
rev_sc_loc           4092
rev_sc_val           4091
revs_month           3990
dtype: int64

In [62]:
bnblist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21669 entries, 0 to 21668
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   listing_id         21669 non-null  int64
 1   host_id            21669 non-null  int64
 2   host_name          21669 non-null  object
 3   host_since         21669 non-null  object
 4   superhost          21669 non-null  object
 5   listings_count     21669 non-null  int64
 6   identity_verified  21669 non-null  object
 7   nh                 13922 non-null  object
 8   nh_cleansed        21669 non-null  object
 9   latitude           21669 non-null  float64
 10  longitude          21669 non-null  float64
 11  property_type      21669 non-null  object
 12  room_type          21669 non-null  object
 13  accommodates       21669 non-null  int64
 14  bedrooms           21000 non-null  float64
 15  price              21669 non-null  object
 16  minimum_nights     21669 non-null  int64
 17  availability_365   21669 non-null  int64
 18  number_of_reviews  21669 non-null  int64
 19  rev_sc_rtg         17679 non-null  float64
 20  rev_sc_cln         17579 non-null  float64
 21  rev_sc_chin        17578 non-null  float64
 22  rev_sc_comm        17579 non-null  float64
 23  rev_sc_loc         17577 non-null  float64
 24  rev_sc_val         17578 non-null  float64
 25  revs_month         17679 non-null  float64
dtypes: float64(10), int64(7), object(9)
memory usage: 4.3+ MB

In [63]:
list(bnblist.price.unique())

['$752.00',
 '$4,056.00',
 '$800.00',
 '$18,000.00',
 '$1,779.00',
 '$650.00',
 '$2,019.00',
 '$850.00',
 '$500.00',
 '$971.00',
 '$608.00',
 '$444.00',
 '$1,212.00',
 '$1,918.00',
 '$460.00',
 '$1,000.00',
 '$1,602.00',
 '$1,111.00',
 '$1,197.00',
 '$3,796.00',
 '$900.00',
 '$1,010.00',
 '$1,379.00',
 '$2,827.00',
 '$3,837.00',
 '$306.00',
 '$1,503.00',
 '$1,817.00',
 '$2,142.00',
 '$2,200.00',
 '$2,057.00',
 '$1,600.00',
 '$1,572.00',
 '$446.00',
 '$1,921.00',
 '$1,200.00',
 '$808.00',
 '$1,385.00',
 '$606.00',
 '$375.00',
 '$3,130.00',
 '$524.00',
 '$811.00',
 '$1,486.00',
 '$7,099.00',
 '$3,352.00',
 '$2,887.00',
 '$284.00',
 '$750.00',
 '$1,253.00',
 '$1,846.00',
 '$788.00',
 '$1,716.00',
 '$450.00',
 '$1,050.00',
 '$1,318.00',
 '$903.00',
 '$1,582.00',
 '$5,000.00',
 '$277.00',
 '$890.00',
 '$505.00',
 '$1,850.00',
 '$348.00',
 '$4,947.00',
 '$629.00',
 '$747.00',
 '$426.00',
 '$1,014.00',
 '$2,554.00',
 '$2,500.00',
 '$699.00',
 '$1,400.00',
 '$303.00',
 '$1,608.00',
 '$1,300.00',
 '$3,635.00',
 '$2,250.00',
 '$974.00',
 '$3,413.00',
 '$1,555.00',
 '$2,028.00',
 '$350.00',
 '$1,100.00',
 '$380.00',
 '$1,615.00',
 '$560.00',
 '$532.00',
 '$1,234.00',
 '$600.00',
 '$420.00',
 '$2,524.00',
 '$1,272.00',
 '$909.00',
 '$13,500.00',
 '$724.00',
 '$1,999.00',
 '$700.00',
 '$2,981.00',
 '$980.00',
 '$305.00',
 '$1,115.00',
 '$1,514.00',
 '$1,636.00',
 '$666.00',
 '$507.00',
 '$1,623.00',
 '$799.00',
 '$1,062.00',
 '$721.00',
 '$1,393.00',
 '$749.00',
 '$208.00',
 '$1,143.00',
 '$1,629.00',
 '$3,776.00',
 '$6,058.00',
 '$2,900.00',
 '$1,650.00',
 '$550.00',
 '$1,414.00',
 '$2,308.00',
 '$3,903.00',
 '$2,163.00',
 '$1,292.00',
 '$2,807.00',
 '$2,527.00',
 '$250.00',
 '$2,625.00',
 '$1,341.00',
 '$406.00',
 '$4,644.00',
 '$5,654.00',
 '$1,053.00',
 '$1,800.00',
 '$1,018.00',
 '$1,559.00',
 '$1,362.00',
 '$1,176.00',
 '$1,171.00',
 '$2,123.00',
 '$6,038.00',
 '$1,760.00',
 '$3,923.00',
 '$588.00',
 '$639.00',
 '$1,217.00',
 '$920.00',
 '$1,420.00',
 '$540.00',
 '$2,106.00',
 '$683.00',
 '$417.00',
 '$220.00',
 '$710.00',
 '$990.00',
 '$246.00',
 '$325.00',
 '$3,225.00',
 '$913.00',
 '$707.00',
 '$927.00',
 '$1,457.00',
 '$333.00',
 '$810.00',
 '$798.00',
 '$848.00',
 '$734.00',
 '$344.00',
 '$1,199.00',
 '$1,190.00',
 '$939.00',
 '$727.00',
 '$910.00',
 '$565.00',
 '$590.00',
 '$4,039.00',
 '$533.00',
 '$300.00',
 '$1,780.00',
 '$400.00',
 '$989.00',
 '$1,313.00',
 '$1,705.00',
 '$2,438.00',
 '$1,298.00',
 '$1,620.00',
 '$880.00',
 '$1,067.00',
 '$1,541.00',
 '$2,120.00',
 '$1,257.00',
 '$2,101.00',
 '$1,805.00',
 '$1,229.00',
 '$1,553.00',
 '$714.00',
 '$287.00',
 '$3,641.00',
 '$892.00',
 '$1,431.00',
 '$428.00',
 '$2,255.00',
 '$360.00',
 '$1,241.00',
 '$1,402.00',
 '$1,286.00',
 '$5,028.00',
 '$2,341.00',
 '$933.00',
 '$2,470.00',
 '$476.00',
 '$1,055.00',
 '$873.00',
 '$2,507.00',
 '$760.00',
 '$1,434.00',
 '$888.00',
 '$2,100.00',
 '$1,930.00',
 '$1,595.00',
 '$1,281.00',
 '$2,312.00',
 '$456.00',
 '$363.00',
 '$315.00',
 '$310.00',
 '$2,008.00',
 '$1,459.00',
 '$1,373.00',
 '$2,161.00',
 '$365.00',
 '$202.00',
 '$1,477.00',
 '$950.00',
 '$313.00',
 '$2,256.00',
 '$2,322.00',
 '$1,995.00',
 '$1,527.00',
 '$3,100.00',
 '$2,706.00',
 '$3,000.00',
 '$2,391.00',
 '$1,500.00',
 '$690.00',
 '$897.00',
 '$367.00',
 '$525.00',
 '$655.00',
 '$3,854.00',
 '$304.00',
 '$2,434.00',
 '$872.00',
 '$1,070.00',
 '$2,172.00',
 '$1,449.00',
 '$299.00',
 '$327.00',
 '$1,151.00',
 '$1,700.00',
 '$4,563.00',
 '$580.00',
 '$293.00',
 '$960.00',
 '$1,054.00',
 '$744.00',
 '$1,624.00',
 '$2,170.00',
 '$863.00',
 '$986.00',
 '$969.00',
 '$403.00',
 '$1,521.00',
 '$786.00',
 '$729.00',
 '$1,454.00',
 '$905.00',
 '$730.00',
 '$4,111.00',
 '$828.00',
 '$1,270.00',
 '$2,445.00',
 '$464.00',
 '$255.00',
 '$273.00',
 '$751.00',
 '$2,157.00',
 '$2,839.00',
 '$353.00',
 '$1,539.00',
 '$537.00',
 '$485.00',
 '$607.00',
 '$1,355.00',
 '$5,334.00',
 '$499.00',
 '$390.00',
 '$1,250.00',
 '$290.00',
 '$1,408.00',
 '$3,534.00',
 '$466.00',
 '$862.00',
 '$243.00',
 '$1,024.00',
 '$487.00',
 '$203.00',
 '$563.00',
 '$741.00',
 '$691.00',
 '$392.00',
 '$527.00',
 '$1,768.00',
 '$1,644.00',
 '$641.00',
 '$435.00',
 '$1,757.00',
 '$200.00',
 '$568.00',
 '$1,001.00',
 '$670.00',
 '$765.00',
 '$1,656.00',
 '$780.00',
 '$442.00',
 '$1,460.00',
 '$2,986.00',
 '$1,333.00',
 '$678.00',
 '$594.00',
 '$679.00',
 '$1,278.00',
 '$1,606.00',
 '$1,079.00',
 '$2,400.00',
 '$896.00',
 '$852.00',
 '$347.00',
 '$1,724.00',
 '$1,150.00',
 '$278.00',
 '$1,509.00',
 '$1,699.00',
 '$1,245.00',
 '$3,042.00',
 '$709.00',
 '$982.00',
 '$490.00',
 '$1,494.00',
 '$591.00',
 '$1,947.00',
 '$817.00',
 '$215.00',
 '$2,279.00',
 '$2,423.00',
 '$1,027.00',
 '$230.00',
 '$2,854.00',
 '$825.00',
 '$536.00',
 '$776.00',
 '$1,994.00',
 '$2,588.00',
 '$2,024.00',
 '$916.00',
 '$253.00',
 '$280.00',
 '$4,543.00',
 '$2,965.00',
 '$1,664.00',
 '$720.00',
 '$1,450.00',
 '$1,033.00',
 '$1,360.00',
 '$361.00',
 '$31,386.00',
 '$1,440.00',
 '$457.00',
 '$2,340.00',
 '$1,168.00',
 '$4,491.00',
 '$395.00',
 '$1,996.00',
 '$1,336.00',
 '$252.00',
 '$3,200.00',
 '$883.00',
 '$4,897.00',
 '$1,893.00',
 '$1,327.00',
 '$3,433.00',
 '$205.00',
 '$498.00',
 '$1,825.00',
 '$8,510.00',
 '$901.00',
 '$404.00',
 '$7,068.00',
 '$997.00',
 '$9,999.00',
 '$1,350.00',
 '$2,562.00',
 '$595.00',
 '$792.00',
 '$343.00',
 '$1,261.00',
 '$1,023.00',
 '$1,280.00',
 '$3,289.00',
 '$3,429.00',
 '$330.00',
 '$484.00',
 '$1,359.00',
 '$2,936.00',
 '$1,309.00',
 '$1,627.00',
 '$1,189.00',
 '$821.00',
 '$7,906.00',
 '$1,498.00',
 '$599.00',
 '$2,800.00',
 '$1,794.00',
 '$929.00',
 '$2,605.00',
 '$480.00',
 '$8,200.00',
 '$2,383.00',
 '$1,474.00',
 '$281.00',
 '$979.00',
 '$1,396.00',
 '$1,271.00',
 '$632.00',
 '$1,121.00',
 '$1,663.00',
 '$3,029.00',
 '$921.00',
 '$10,096.00',
 '$676.00',
 '$1,892.00',
 '$1,693.00',
 '$2,266.00',
 '$1,485.00',
 '$1,237.00',
 '$954.00',
 '$1,220.00',
 '$2,143.00',
 '$2,000.00',
 '$340.00',
 '$1,660.00',
 '$585.00',
 '$384.00',
 '$1,204.00',
 '$637.00',
 '$759.00',
 '$210.00',
 '$1,216.00',
 '$614.00',
 '$6,000.00',
 '$548.00',
 '$616.00',
 '$534.00',
 '$260.00',
 '$2,709.00',
 '$1,339.00',
 '$586.00',
 '$440.00',
 '$753.00',
 '$1,006.00',
 '$4,766.00',
 '$511.00',
 '$1,075.00',
 '$449.00',
 '$497.00',
 '$1,093.00',
 '$953.00',
 '$771.00',
 '$736.00',
 '$4,940.00',
 '$1,861.00',
 '$2,309.00',
 '$555.00',
 '$1,745.00',
 '$323.00',
 '$415.00',
 '$19,268.00',
 '$1,144.00',
 '$1,043.00',
 '$1,177.00',
 '$1,411.00',
 '$1,232.00',
 '$286.00',
 '$331.00',
 '$955.00',
 '$407.00',
 '$1,528.00',
 '$1,161.00',
 '$561.00',
 '$4,500.00',
 '$20,193.00',
 '$4,341.00',
 '$1,128.00',
 '$2,604.00',
 '$1,112.00',
 '$1,275.00',
 '$1,820.00',
 '$2,213.00',
 '$857.00',
 '$658.00',
 '$899.00',
 '$5,070.00',
 '$298.00',
 '$251.00',
 '$1,685.00',
 '$864.00',
 '$686.00',
 '$376.00',
 '$631.00',
 '$972.00',
 '$871.00',
 '$1,950.00',
 '$1,191.00',
 '$451.00',
 '$261.00',
 '$1,390.00',
 '$4,036.00',
 '$312.00',
 '$1,616.00',
 '$791.00',
 '$1,064.00',
 '$2,181.00',
 '$531.00',
 '$1,370.00',
 '$1,099.00',
 '$345.00',
 '$5,048.00',
 '$3,382.00',
 '$1,092.00',
 '$5,553.00',
 '$285.00',
 '$1,480.00',
 '$711.00',
 '$1,399.00',
 '$1,746.00',
 '$1,019.00',
 '$1,097.00',
 '$1,601.00',
 '$1,205.00',
 '$3,609.00',
 '$1,387.00',
 '$432.00',
 '$319.00',
 '$503.00',
 '$3,736.00',
 '$1,550.00',
 '$816.00',
 '$1,314.00',
 '$2,363.00',
 '$663.00',
 '$635.00',
 '$589.00',
 '$214.00',
 '$1,463.00',
 '$2,849.00',
 '$1,320.00',
 '$516.00',
 '$430.00',
 '$1,160.00',
 '$604.00',
 '$961.00',
 '$288.00',
 '$1,315.00',
 '$868.00',
 '$762.00',
 '$1,428.00',
 '$843.00',
 '$1,607.00',
 '$1,214.00',
 '$2,350.00',
 '$334.00',
 '$1,028.00',
 '$3,800.00',
 '$1,529.00',
 '$396.00',
 '$694.00',
 '$2,457.00',
 '$5,089.00',
 '$1,982.00',
 '$3,245.00',
 '$917.00',
 '$4,000.00',
 '$556.00',
 '$1,547.00',
 '$328.00',
 '$2,989.00',
 '$577.00',
 '$732.00',
 '$2,251.00',
 '$240.00',
 '$2,750.00',
 '$9,127.00',
 '$3,231.00',
 '$3,651.00',
 '$1,202.00',
 '$675.00',
 '$8,077.00',
 '$562.00',
 '$851.00',
 '$489.00',
 '$398.00',
 '$1,337.00',
 '$370.00',
 '$1,922.00',
 '$1,536.00',
 '$8,631.00',
 '$3,955.00',
 '$627.00',
 '$1,504.00',
 '$495.00',
 '$453.00',
 '$1,927.00',
 '$346.00',
 '$222.00',
 '$832.00',
 '$1,076.00',
 '$756.00',
 '$660.00',
 '$2,941.00',
 '$399.00',
 '$4,241.00',
 '$790.00',
 '$609.00',
 '$249.00',
 '$1,777.00',
 '$1,394.00',
 '$754.00',
 '$206.00',
 '$355.00',
 '$383.00',
 '$3,615.00',
 '$6,124.00',
 '$1,890.00',
 '$469.00',
 '$794.00',
 '$9,087.00',
 '$680.00',
 '$1,101.00',
 '$1,807.00',
 '$4,442.00',
 '$1,289.00',
 '$520.00',
 '$283.00',
 '$2,535.00',
 '$573.00',
 '$1,063.00',
 '$725.00',
 '$1,029.00',
 '$1,587.00',
 '$932.00',
 '$1,873.00',
 '$1,507.00',
 '$2,037.00',
 '$1,985.00',
 '$2,177.00',
 '$1,524.00',
 '$264.00',
 '$1,750.00',
 '$879.00',
 '$2,140.00',
 '$504.00',
 '$3,448.00',
 '$2,332.00',
 '$447.00',
 '$20,282.00',
 '$1,041.00',
 '$6,084.00',
 '$745.00',
 '$884.00',
 '$1,243.00',
 '$339.00',
 '$796.00',
 '$1,207.00',
 '$1,988.00',
 '$619.00',
 '$335.00',
 '$854.00',
 '$1,959.00',
 '$1,429.00',
 '$764.00',
 '$649.00',
 '$3,384.00',
 '$1,866.00',
 '$4,200.00',
 '$522.00',
 '$2,811.00',
 '$270.00',
 '$2,403.00',
 '$805.00',
 '$263.00',
 '$254.00',
 '$223.00',
 '$2,616.00',
 '$998.00',
 '$914.00',
 '$1,409.00',
 '$1,522.00',
 '$429.00',
 '$521.00',
 '$1,830.00',
 '$385.00',
 '$1,047.00',
 '$309.00',
 '$949.00',
 '$3,514.00',
 '$2,619.00',
 '$895.00',
 '$26,251.00',
 '$3,344.00',
 '$695.00',
 '$1,471.00',
 '$1,056.00',
 '$1,734.00',
 '$1,599.00',
 '$994.00',
 '$1,690.00',
 '$885.00',
 '$840.00',
 '$682.00',
 '$530.00',
 '$1,103.00',
 '$18,174.00',
 '$379.00',
 '$3,050.00',
 '$1,953.00',
 '$1,122.00',
 '$5,192.00',
 '$295.00',
 '$219.00',
 '$1,263.00',
 '$308.00',
 '$2,541.00',
 '$779.00',
 '$1,194.00',
 '$1,218.00',
 '$814.00',
 '$1,427.00',
 '$970.00',
 '$2,252.00',
 '$554.00',
 '$1,034.00',
 '$1,900.00',
 '$2,906.00',
 '$2,550.00',
 '$1,899.00',
 '$7,500.00',
 '$1,639.00',
 '$842.00',
 '$1,744.00',
 '$2,565.00',
 '$529.00',
 '$221.00',
 '$471.00',
 '$558.00',
 '$2,197.00',
 '$1,962.00',
 '$2,257.00',
 '$623.00',
 '$232.00',
 '$512.00',
 '$1,788.00',
 '$1,939.00',
 '$425.00',
 '$506.00',
 '$869.00',
 '$30,422.00',
 '$642.00',
 '$1,252.00',
 '$11,227.00',
 '$427.00',
 '$320.00',
 '$1,066.00',
 '$12,000.00',
 '$826.00',
 '$2,231.00',
 '$2,873.00',
 '$235.00',
 '$1,421.00',
 '$3,274.00',
 '$669.00',
 '$1,080.00',
 '$225.00',
 '$1,332.00',
 '$2,390.00',
 '$1,832.00',
 '$2,092.00',
 '$698.00',
 '$5,200.00',
 '$640.00',
 '$1,283.00',
 '$1,345.00',
 '$2,950.00',
 '$1,254.00',
 '$493.00',
 '$545.00',
 '$519.00',
 '$819.00',
 '$665.00',
 '$279.00',
 '$2,596.00',
 '$5,321.00',
 '$2,393.00',
 '$405.00',
 '$4,699.00',
 '$4,140.00',
 '$770.00',
 '$3,760.00',
 '$1,765.00',
 '$2,446.00',
 '$1,146.00',
 '$1,170.00',
 '$601.00',
 '$199.00',
 '$919.00',
 '$797.00',
 '$4,456.00',
 '$1,068.00',
 '$7,229.00',
 '$894.00',
 '$50,000.00',
 '$1,288.00',
 '$1,136.00',
 '$526.00',
 '$465.00',
 '$944.00',
 '$579.00',
 '$1,667.00',
 '$743.00',
 '$324.00',
 '$1,941.00',
 '$620.00',
 '$1,630.00',
 '$942.00',
 '$326.00',
 '$4,134.00',
 '$1,365.00',
 '$4,121.00',
 '$1,384.00',
 '$1,785.00',
 '$991.00',
 '$248.00',
 '$3,057.00',
 '$815.00',
 '$2,796.00',
 '$1,610.00',
 '$479.00',
 '$651.00',
 '$265.00',
 '$1,139.00',
 '$2,920.00',
 '$10,000.00',
 '$837.00',
 '$2,273.00',
 '$3,300.00',
 '$3,999.00',
 '$2,928.00',
 '$5,577.00',
 '$3,714.00',
 '$99,998.00',
 '$514.00',
 '$1,588.00',
 '$793.00',
 '$3,869.00',
 '$1,382.00',
 '$911.00',
 '$2,570.00',
 '$358.00',
 '$1,725.00',
 '$459.00',
 '$2,637.00',
 '$597.00',
 '$2,555.00',
 '$470.00',
 '$1,201.00',
 '$2,726.00',
 '$3,877.00',
 '$784.00',
 '$5,769.00',
 '$5,647.00',
 '$773.00',
 '$424.00',
 '$4,279.00',
 '$2,492.00',
 '$570.00',
 '$366.00',
 '$3,799.00',
 '$1,090.00',
 '$1,021.00',
 '$783.00',
 '$454.00',
 '$207.00',
 '$409.00',
 '$1,040.00',
 '$513.00',
 '$414.00',
 '$1,621.00',
 '$626.00',
 '$2,888.00',
 '$661.00',
 '$845.00',
 '$963.00',
 '$201.00',
 '$767.00',
 '$1,173.00',
 '$3,518.00',
 '$1,729.00',
 '$926.00',
 '$1,499.00',
 '$742.00',
 '$1,849.00',
 '$2,700.00',
 '$2,421.00',
 '$1,142.00',
 '$275.00',
 '$1,048.00',
 '$443.00',
 '$2,373.00',
 '$657.00',
 '$757.00',
 '$1,020.00',
 '$564.00',
 '$543.00',
 '$4,212.00',
 '$1,071.00',
 '$1,311.00',
 '$2,481.00',
 '$571.00',
 '$959.00',
 '$813.00',
 '$3,550.00',
 '$410.00',
 '$1,546.00',
 '$1,898.00',
 '$20,057.00',
 '$1,221.00',
 '$475.00',
 '$803.00',
 '$4,401.00',
 '$820.00',
 '$715.00',
 '$1,145.00',
 '$463.00',
 '$364.00',
 '$2,429.00',
 '$2,629.00',
 '$329.00',
 '$373.00',
 '$1,870.00',
 '$3,009.00',
 '$5,697.00',
 '$3,116.00',
 '$2,600.00',
 '$1,179.00',
 '$569.00',
 '$2,521.00',
 '$231.00',
 '$938.00',
 '$2,731.00',
 '$408.00',
 '$1,575.00',
 '$431.00',
 '$1,057.00',
 '$57,785.00',
 '$1,269.00',
 '$3,975.00',
 '$7,875.00',
 '$2,221.00',
 '$1,783.00',
 '$1,416.00',
 '$2,130.00',
 '$1,262.00',
 '$3,500.00',
 '$1,483.00',
 '$906.00',
 '$2,413.00',
 '$781.00',
 '$740.00',
 '$517.00',
 '$1,290.00',
 '$3,143.00',
 '$8,113.00',
 '$785.00',
 '$268.00',
 '$1,120.00',
 '$1,586.00',
 '$829.00',
 '$1,430.00',
 '$956.00',
 '$336.00',
 ...]

In [64]:
# Changing data types

bnblist['acceptance_rate'] = bnb_MC['acceptance_rate'].astype('int64')

bnblist['bedrooms'] = bnb_MC['bedrooms'].astype('Int64')

In [65]:
# Removing with strip function '$' ','' symbol from 'price' variable:

bnblist.price = [x.strip('$') for x in bnblist.price]

bnblist.price = bnblist.price.apply(lambda x: x.replace(',', ''))

In [66]:
bnblist['price'] = bnb_MC['price'].astype('Int64')

In [67]:
bnblist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21669 entries, 0 to 21668
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   listing_id         21669 non-null  int64
 1   host_id            21669 non-null  int64
 2   host_name          21669 non-null  object
 3   host_since         21669 non-null  object
 4   superhost          21669 non-null  object
 5   listings_count     21669 non-null  int64
 6   identity_verified  21669 non-null  object
 7   nh                 13922 non-null  object
 8   nh_cleansed        21669 non-null  object
 9   latitude           21669 non-null  float64
 10  longitude          21669 non-null  float64
 11  property_type      21669 non-null  object
 12  room_type          21669 non-null  object
 13  accommodates       21669 non-null  int64
 14  bedrooms           17679 non-null  Int64
 15  price              17679 non-null  Int64
 16  minimum_nights     21669 non-null  int64
 17  availability_365   21669 non-null  int64
 18  number_of_reviews  21669 non-null  int64
 19  rev_sc_rtg         17679 non-null  float64
 20  rev_sc_cln         17579 non-null  float64
 21  rev_sc_chin        17578 non-null  float64
 22  rev_sc_comm        17579 non-null  float64
 23  rev_sc_loc         17577 non-null  float64
 24  rev_sc_val         17578 non-null  float64
 25  revs_month         17679 non-null  float64
 26  acceptance_rate    17679 non-null  float64
dtypes: Int64(2), float64(10), int64(7), object(8)
memory usage: 4.5+ MB

In [68]:
bnblist.isnull().sum()

listing_id              0
host_id                 0
host_name               0
host_since              0
superhost               0
listings_count          0
identity_verified       0
nh                   7747
nh_cleansed             0
latitude                0
longitude               0
property_type           0
room_type               0
accommodates            0
bedrooms             3990
price                3990
minimum_nights          0
availability_365        0
number_of_reviews       0
rev_sc_rtg           3990
rev_sc_cln           4090
rev_sc_chin          4091
rev_sc_comm          4090
rev_sc_loc           4092
rev_sc_val           4091
revs_month           3990
acceptance_rate      3990
dtype: int64

In [69]:
bnblist['nh'].value_counts()

Mexico City, Ciudad de México, Mexico                              10622
Mexico City, CDMX, Mexico                                            864
Mexico City, Distrito Federal, Mexico                                542
Centro, Ciudad de México, Mexico                                     210
Mexico City, Federal District, Mexico                                209
                                                                   ...
Colonia Periodista, Ciudad de México, Mexico                           1
Mexico City, México DF, Mexico                                         1
Anzures, Ciudad de México, Mexico                                      1
Barrio de la Conchita, Coyoacán, Ciudad de México, CDMX, Mexico        1
 Ciudad México , CDMX, Mexico                                          1
Name: nh, Length: 372, dtype: int64

In [70]:
bnblist.describe()

,listing_id,host_id,listings_count,latitude,longitude,accommodates,bedrooms,price,minimum_nights,availability_365,number_of_reviews,rev_sc_rtg,rev_sc_cln,rev_sc_chin,rev_sc_comm,rev_sc_loc,rev_sc_val,revs_month,acceptance_rate
count,2.166900e+04,2.166900e+04,21669.000000,21669.000000,21669.000000,21669.000000,17679.000000,17679.000000,21669.000000,21669.000000,21669.000000,17679.000000,17579.000000,17578.000000,17579.000000,17577.000000,17578.000000,17679.000000,17679.000000
mean,9.269405e+16,1.641558e+08,14.360653,19.401708,-99.169351,3.171351,3.810001,1356.202840,4.841294,243.403157,31.596520,4.696913,4.745303,4.832222,4.814855,4.838490,4.715602,1.586033,90.892584
std,2.176659e+17,1.350001e+08,48.560694,0.045602,0.038149,2.159579,14.135332,8272.112796,26.813488,122.786806,56.078378,0.596886,0.479729,0.430116,0.454273,0.400844,0.478392,2.014909,20.127944
min,3.579700e+04,7.365000e+03,0.000000,19.094680,-99.376110,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.010000,0.000000
25%,2.767543e+07,4.721753e+07,1.000000,19.380370,-99.181460,2.000000,1.000000,500.000000,1.000000,144.000000,1.000000,4.670000,4.710000,4.830000,4.810000,4.830000,4.670000,0.360000,91.000000
50%,4.231734e+07,1.284252e+08,2.000000,19.413180,-99.168670,2.000000,1.000000,894.000000,2.000000,298.000000,10.000000,4.850000,4.880000,4.940000,4.940000,4.950000,4.830000,1.000000,99.000000
75%,5.220415e+07,2.598645e+08,7.000000,19.431360,-99.153970,4.000000,2.000000,1442.000000,3.000000,356.000000,35.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.960000,2.210000,100.000000
max,6.536537e+17,4.650761e+08,436.000000,19.603560,-98.925080,16.000000,91.000000,999998.000000,1125.000000,365.000000,820.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,52.580000,100.000000

In [71]:
bnblist['bedrooms'].fillna(3, inplace = True)

bnblist['price'].fillna(1356, inplace = True)

bnblist['rev_sc_rtg'].fillna(4.69, inplace = True)

bnblist['rev_sc_cln'].fillna(4.74, inplace = True)

bnblist['rev_sc_chin'].fillna(4.83, inplace = True)

bnblist['rev_sc_comm'].fillna(4.81, inplace = True)

bnblist['rev_sc_loc'].fillna(4.83, inplace = True)

bnblist['rev_sc_val'].fillna(4.71, inplace = True)

bnblist['revs_month'].fillna(1.58, inplace = True)

bnblist['acceptance_rate'].fillna(90.89, inplace = True)

In [72]:
bnblist.isnull().sum()

listing_id              0
host_id                 0
host_name               0
host_since              0
superhost               0
listings_count          0
identity_verified       0
nh                   7747
nh_cleansed             0
latitude                0
longitude               0
property_type           0
room_type               0
accommodates            0
bedrooms                0
price                   0
minimum_nights          0
availability_365        0
number_of_reviews       0
rev_sc_rtg              0
rev_sc_cln              0
rev_sc_chin             0
rev_sc_comm             0
rev_sc_loc              0
rev_sc_val              0
revs_month              0
acceptance_rate         0
dtype: int64

## bnbcal_020922.csv as bnbcal dataframe

In [73]:
# Import 'bnbcal_020922.pkl' data set as 'bnbcal' dataframe

bnbcal = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '02_Sep_2022', 'bnbcal_020922'))

In [74]:
bnbcal.head()

   listing_id booking_date
0    52390579   2022-06-21
1    52390579   2022-06-22
2    52390579   2022-06-23
3    52390579   2022-06-24
4    52390579   2022-06-25

In [75]:
bnbcal.isnull().sum()

listing_id      0
booking_date    0
dtype: int64

In [76]:
# Import 'bnbrevs_020922.pkl' data set as 'bnbrevs' dataframe

bnbrevs = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '02_Sep_2022', 'bnbrevs_020922'))

In [77]:
bnbrevs.head()

   listing_id     rev_id    rev_date
0    15511977  244826501  2018-03-19
1      826691    8301723  2013-10-24
2      826691    8396411  2013-10-28
3      826691   19868762  2014-09-20
4      826691   25550391  2015-01-19

In [78]:
bnbrevs.isnull().sum()

listing_id    0
rev_id        0
rev_date      0
dtype: int64

# Exporting Data

In [105]:
# Exporting bnblist dataframe

bnblist.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '27_Sep_2022', 'bnblist_270922.pkl'))
bnblist.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '27_Sep_2022', 'bnblist_270922.csv'))

In [80]:
# Exporting bnbcal dataframe

bnbcal.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '27_Sep_2022', 'bnbcal_270922.pkl'))
bnbcal.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '27_Sep_2022', 'bnbcal_270922.csv'))

In [81]:
# Exporting bnbrevs dataframe

bnbrevs.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '27_Sep_2022', 'bnbrevs_270922.pkl'))
bnbrevs.to_csv(os.path.join(path, '02 Data', 'Prepared Data', '27_Sep_2022', 'bnbrevs_270922.csv'))

# Additional exploring

In [98]:
bnblist['price']/20

0          40.0
1         900.0
2         88.95
3          32.5
4        100.95
          ...
21664      67.8
21665      67.8
21666      67.8
21667      67.8
21668      67.8
Name: price, Length: 21669, dtype: Float64

In [99]:
bnblist['price']

0          800
1        18000
2         1779
3          650
4         2019
         ...
21664     1356
21665     1356
21666     1356
21667     1356
21668     1356
Name: price, Length: 21669, dtype: Int64

In [101]:
bnblist.assign(USD_price = bnblist['price']/20)

,listing_id,host_id,host_name,host_since,superhost,listings_count,identity_verified,nh,nh_cleansed,latitude,...,number_of_reviews,rev_sc_rtg,rev_sc_cln,rev_sc_chin,rev_sc_comm,rev_sc_loc,rev_sc_val,revs_month,acceptance_rate,USD_price
0,52390579,424060909,Maria Carmen Marta,2021-09-21,f,2,t,NaN,Cuajimalpa de Morelos,19.395126,...,0,4.69,4.74,4.83,4.81,4.83,4.71,1.58,91.00,40.0
1,35797,153786,Dici,2010-06-28,f,2,t,"Mexico City, D.f., Mexico",Cuajimalpa de Morelos,19.382830,...,0,4.69,4.74,4.83,4.81,4.83,4.71,1.58,66.00,900.0
2,15511977,93364273,Abraham,2016-09-03,f,2,f,"Naucalpan de Juárez, Méx., Mexico",Miguel Hidalgo,19.410950,...,1,5.00,5.00,5.00,5.00,5.00,5.00,0.02,100.00,88.95
3,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,f,9,t,NaN,Cuauhtémoc,19.411620,...,56,4.59,4.69,4.85,4.75,4.98,4.47,0.43,90.00,32.5
4,34776449,2954577,Lazaro Alejandro,2012-07-16,t,3,t,"Mexico City, Mexico",Miguel Hidalgo,19.426410,...,5,5.00,4.80,5.00,5.00,5.00,4.80,0.14,29.00,100.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21664,618034488468131637,442065952,Ricardo,2022-01-25,f,79,t,"Naucalpan de Juárez, Estado de México, Mexico",Azcapotzalco,19.499980,...,3,3.00,3.67,5.00,5.00,4.67,3.67,2.73,90.89,67.8
21665,22107097,387195495,Daniela,2021-02-03,f,22,t,"Naucalpan de Juárez, Estado de México, Mexico",Azcapotzalco,19.507870,...,107,4.82,4.93,4.77,4.88,4.90,4.83,1.97,90.89,67.8
21666,40617809,96471106,Mary Carmen,2016-09-23,f,3,t,"Naucalpan de Juárez, Estado de México, Mexico",Azcapotzalco,19.507530,...,5,4.60,5.00,5.00,5.00,5.00,4.80,0.16,90.89,67.8
21667,569519288654139909,30446640,Ericka,2015-04-01,f,0,t,NaN,Azcapotzalco,19.493360,...,0,4.69,4.74,4.83,4.81,4.83,4.71,1.58,90.89,67.8
21668,37175605,51907431,Cecilia,2015-12-21,t,7,t,"Naucalpan de Juárez, Estado de México, Mexico",Azcapotzalco,19.490040,...,58,4.81,4.93,4.93,4.93,4.98,4.78,1.66,90.89,67.8

In [103]:
bnblist = bnblist.assign(USD_price = bnblist['price']/20)

In [104]:
bnblist.head()

,listing_id,host_id,host_name,host_since,superhost,listings_count,identity_verified,nh,nh_cleansed,latitude,...,number_of_reviews,rev_sc_rtg,rev_sc_cln,rev_sc_chin,rev_sc_comm,rev_sc_loc,rev_sc_val,revs_month,acceptance_rate,USD_price
0,52390579,424060909,Maria Carmen Marta,2021-09-21,f,2,t,NaN,Cuajimalpa de Morelos,19.395126,...,0,4.69,4.74,4.83,4.81,4.83,4.71,1.58,91.0,40.0
1,35797,153786,Dici,2010-06-28,f,2,t,"Mexico City, D.f., Mexico",Cuajimalpa de Morelos,19.382830,...,0,4.69,4.74,4.83,4.81,4.83,4.71,1.58,66.0,900.0
2,15511977,93364273,Abraham,2016-09-03,f,2,f,"Naucalpan de Juárez, Méx., Mexico",Miguel Hidalgo,19.410950,...,1,5.00,5.00,5.00,5.00,5.00,5.00,0.02,100.0,88.95
3,44616,196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,f,9,t,NaN,Cuauhtémoc,19.411620,...,56,4.59,4.69,4.85,4.75,4.98,4.47,0.43,90.0,32.5
4,34776449,2954577,Lazaro Alejandro,2012-07-16,t,3,t,"Mexico City, Mexico",Miguel Hidalgo,19.426410,...,5,5.00,4.80,5.00,5.00,5.00,4.80,0.14,29.0,100.95